<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <header>
        <section class="cta">
            <div class="info">
                <h2>QUALITY HOMES AVAILABLE</h2>
                <p>If you are looking for an apartment, house, or condo look no further!</p>
                <button><a href="#">Find Your Home</a></button>
            </div>

        </section>
    </header>
	<!-- End Component -->
	
</body>
</html>