<!DOCTYPE html>
<html>
<head>
	<title>WSP Search/Filter Component: Michael Mazur</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <div class="search">
        <section class="container">
            <p>Search</p>
            <select name="number">
                <option>USD</option>
                <option>CAD</option>
                <option>GBP</option>
                <option>EUR</option>
            </select>
            <input type="text" name="min" placeholder="Min Price"/>
            <input type="text" name="max" placeholder="Max Price"/>
            <select name="type">
                <option></option>
                <option></option>
                <option></option>
            </select>
        </section>
    </div>
    <section class="filter">
        <p class="filter-button">More Options</p>
    </section>

	<!-- End Component -->
	
</body>
</html>