<!DOCTYPE html>
<html>
<head>
	<title>WSP Search/Filter Component: Michael Mazur</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
</head>
<body>

	<!-- Component -->
    <div class="search">
        <section class="container">
            <p>Search</p>
            <select name="number">
                <option>USD</option>
                <option>CAD</option>
                <option>GBP</option>
                <option>EUR</option>
            </select>
            <input type="text" name="min" placeholder="Min Price"/>
            <input type="text" name="max" placeholder="Max Price"/>
            <select name="type">
                <option>One-Way Flight</option>
                <option>Round Trip</option>
            </select>
            <input type="text" name="location" placeholder="Destination"/>
            <input type="submit" name="search" value="Search" />

            <section class="extra-options">
                <input type="checkbox" name="non-stop" value="non-stop">I prefer Non-Stop Flights
                <input type="checkbox" name="hasChild" value="haschild">I have children
                <input type="checkbox" name="before-after" value="before-after">Check a couple days before and after chosen date.
            </section>
        </section>
    </div>
    <section class="filter">
        <p class="filter-button">More Options <i class="fa fa-caret-down"></i></p>
    </section>

	<!-- End Component -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="toggle-search.js"></script>
</body>
</html>