<!DOCTYPE html>
<html>
<head>
	<title>WSP Testimonials Component: Michael Mazur</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
</head>
<body>

	<!-- Component -->
    <div class="testimonials">
        <section>
            <article class="testimonial">
                <img src="female-face.png" />
                <p class="text"><i class="fa fa-quote-left fa-pull-left"></i>Thanks administrators of the clinic for their excellent work! It was very pleasant that they have worked plainly.</p>
                <p class="name">Michelle Rawlings</p>
            </article>
            <article class="testimonial">
                <img src="will-face.png" />
                <p class="text"><i class="fa fa-quote-left fa-pull-left"></i>For more than 15 years I was treated, and only here the cause has been found and cured. Thank you very much!</p>
                <p class="name">William Weiss</p>
            </article>
            <article class="testimonial">
                <img src="jerome-face.png" />
                <p class="text"> <i class="fa fa-quote-left fa-pull-left"></i>Very good science. Many thanks, for taking around the clock care, to nurses. I was satisfied. I recommend to everyone.</p>
                <p class="name">Jerome Kuzenko</p>
            </article>
        </section>
    </div>
	<!-- End Component -->
	
</body>
</html>