<!DOCTYPE html>
<html>
<head>
	<title>WSP Latest News Component: Michael Mazur</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<!-- Component -->
    <section class="container">
        <h2>LATEST NEWS</h2>
        <article class="latest-news">
            <img src="lightning-sabres.jpg" />
            <h3 class="article-title">Lightning 4, Sabres 1</h3>
            <p class="date">October 10, 2015</p>
            <p class="info">Lightning take the win over the Sabres 4 to 1 on October 9, 2015.</p>
            <button><a href="#">Read More</a></button>
        </article>
        <article class="latest-news">
            <img src="lightningvsflyers.jpg" />
            <h3 class="article-title">Lightning 3, Flyers 2 - OT</h3>
            <p class="date">October 9, 2015</p>
            <p class="info">Lightning take the win over the Flyers 3 to 2 in OT on October 8, 2015.</p>
            <button><a href="#">Read More</a></button>
        </article>
        <article class="latest-news">
            <img src="crunch-img.png" />
            <h3 class="article-title">Lightning Send Four to Crunch</h3>
            <p class="date">October 6, 2015</p>
            <p class="info">Lightning send four players to Syracuse Crunch after Preasaon Games.</p>
            <button><a href="#">Read More</a></button>
        </article>
        <article class="latest-news">
            <img src="hockey-img.jpg" />
            <h3 class="article-title">Filler Title Here</h3>
            <p class="date">January 20, 2015</p>
            <p class="info">Awesome text will go here to describe this post in more detail web design is awesome.</p>
            <button><a href="#">Read More</a></button>
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>